<h1 class="content-title"><%= title %></h1>
<% if(deleted === false) { %>
<p>Are you sure you want to delete the <%= effect.title %> effect?</p>
<form method="POST">
  <button class="button" type="submit">Delete</button>
</form>
<% } else { %>
<p>You have successfully deleted the <%= effect.name %> effect</p>
<a href="/catalog/effects"><button class="button">Return to Catalog</button></a>
<% } %>