<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/reset-css.css" />
  <title></title>
</head>

<body>
  <div class="layout-container bg-lvl-1">
    <header class="header bg-lvl-3"></header>
    <nav class="navbar bg-lvl-2">
      <ul class="nav-list">
        <li><a href="/catalog">Home</a></li>
        <li>
          <hr />
        </li>
        <li><a href="/catalog/potions">All Potions</a></li>
        <li>
          <hr />
        </li>
        <li><a href="/catalog/classifications">Potions by Classification</a></li>
        <li>
          <hr />
        </li>
        <li><a href="/catalog/effects">Potions by Effect</a></li>
        <li>
          <hr />
        </li>
        <li><a href="/catalog/potion/create">Add a New Potion</a></li>
        <li>
          <hr />
        </li>
        <li><a href="/catalog/classification/create">Add a New Classification</a></li>
        <li>
          <hr />
        </li>
        <li><a href="/catalog/effect/create">Add a New Effect</a></li>
      </ul>
    </nav>
    <main class="content">
      <section class="content-container">
        <%- body %>
      </section>
    </main>
    <footer class="footer bg-lvl-3"></footer>
  </div>
</body>

</html>