<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/detail.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <link rel="stylesheet" href="/stylesheets/reset-css.css" />
  <title></title>
</head>

<body>
  <div class="layout-container bg-lvl-1">
    <nav class="navbar bg-lvl-2">
      <ul class="nav-list">
        <h1 class="logo">Apothecary</h1>
        <li>
          <a href="/">
            <h2 class="nav-item">Home</h2>
          </a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a href="/catalog/potions">
            <h2 class="nav-item">All Potions</h2>
          </a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a href="/catalog/classifications">
            <h2 class="nav-item">Potion Classifications</h2>
          </a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a href="/catalog/effects">
            <h2 class="nav-item">Potion Effects</h2>
          </a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a href="/catalog/potion/create">
            <h2 class="nav-item">Add a New Potion</h2>
          </a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a href="/catalog/classification/create">
            <h2 class="nav-item">Add a New Classification</h2>
          </a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a href="/catalog/effect/create">
            <h2 class="nav-item">Add a New Effect</h2>
          </a>
        </li>
      </ul>
    </nav>
    <main class="content">
      <section class="content-container">
        <%- body %>
      </section>
    </main>
  </div>
</body>

</html>