<h1 class="content-title"><%= title %></h1>
<% if(deleted === false) { %>
<p style="font-size: 1.25rem;">Are you sure you want to delete <%= potion.name %>?</p>
<form method="POST">
  <button class="button" type="submit">Delete</button>
</form>
<% } else { %>
<p style="font-size: 1.25rem;">You have successfully deleted <%= potion.name %></p>
<a href="/catalog/potions"><button class="button">Return to Catalog</button></a>
<% } %>