.detail {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  align-items: flex-start;
}

.main-detail {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'image title' 'image desc';
  column-gap: 2rem;
  min-height: 200px;
  padding-right: 2rem;
}

.detail-image {
  height: clamp(200px, 20vw, 500px);
  grid-area: image;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
}

.detail-title {
  margin-top: 2rem;
  font-size: 2rem;
  grid-area: title;
}

.detail-desc {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  grid-area: desc;
  margin-top: 3rem;
}

.effect-list {
  display: flex;
  gap: 1rem;
}

.lore {
  line-height: 2rem;
}
