.detail {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  align-items: flex-start;
}

.main-detail {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'image title' 'image desc';
  column-gap: 2rem;
  align-items: center;
  min-height: 200px;
  padding-right: 2rem;
}
