@font-face {
  font-family: 'Ankh';
  src: url('../Ankh.ttf');
}

* {
  box-sizing: border-box;
  line-height: 1.75rem;
}

html,
body,
.layout-container {
  color: white;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  border: solid rgb(255, 255, 255, 0.08) 1px;
  margin: 0;
  padding: 0;
}

.bg-lvl-1 {
  background-color: #121212;
}

.bg-lvl-2 {
  background-color: rgb(255, 255, 255, 0.05);
}

.bg-lvl-3 {
  background-color: rgb(255, 255, 255, 0.08);
}

.layout-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'navbar content';
}

.logo {
  font-family: 'Ankh';
  font-size: clamp(3rem, 2.5vw, 4rem);
  margin-bottom: 2rem;
}

.nav-container {
  grid-area: navbar;
  height: 100%;
  position: sticky;
  top: 2rem;
}

.navbar {
  height: 100%;
  font-size: 1.5rem;
  padding: 2rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-item {
  padding: 1rem;
}

.nav-item:hover {
  background-color: rgb(255, 255, 255, 0.08);
  transform: background-color 1s ease;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  align-items: flex-start;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1300px;
}

.content-title {
  font-size: clamp(2rem, 5vw, 3.5rem);
}

.flex-column-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.potion-list-item {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    'image title price'
    'image desc qty';
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: start;
  min-height: 200px;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-right: 2rem;
}

.list-image {
  max-height: 275px;
  aspect-ratio: 1 / 1;
  grid-area: image;
  border-radius: 0.5rem;
}

.title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.list-title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  grid-area: title;
  padding-top: 1rem;
}

.list-title:hover,
.delete-item:hover {
  text-decoration: underline;
}

.list-desc,
.list-price,
.list-qty {
  font-size: 1.25rem;
}

.list-desc {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  grid-area: desc;
  margin-bottom: 2rem;
}

.desc-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: circle;
  padding-left: 1.5rem;
}

.list-price {
  align-self: center;
  grid-area: price;
  justify-self: end;
}

.list-qty {
  grid-area: qty;
  justify-self: end;
  margin-bottom: 2rem;
}

.classification-list-item,
.effect-list-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .content {
    width: 100vw;
    padding: 1.5rem;
  }

  .layout-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'navbar' 'content';
  }

  .nav-container {
    top: 0;
  }

  .navbar:hover .nav-list {
    display: flex;
  }

  .nav-list {
    width: 100vw;
    display: none;
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1rem;
    grid-area: navbar;
    position: sticky;
    top: 0;
  }

  .nav-item {
    padding: 1.5rem 0.5rem;
    white-space: nowrap;
  }

  .logo {
    margin-bottom: 0;
  }

  .potion-list-item {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'image'
      'title'
      'desc'
      'price'
      'qty';
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
    min-height: 200px;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .list-qty {
    margin: 0;
  }

  .list-image {
    aspect-ratio: 1 / 1;
    max-height: none;
    width: 100%;
  }
}
