@font-face {
  font-family: 'Ankh';
  src: url('../Ankh.ttf');
}

html,
body,
.layout-container {
  color: white;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  border: solid rgb(255, 255, 255, 0.08) 1px;
  margin: 0;
  padding: 0;
}

.bg-lvl-1 {
  background-color: #121212;
}

.bg-lvl-2 {
  background-color: rgb(255, 255, 255, 0.05);
}

.bg-lvl-3 {
  background-color: rgb(255, 255, 255, 0.08);
}

.layout-container {
  display: grid;
  grid-template-columns: clamp(300px, 20vw, 500px) 1fr;
  grid-template-areas: 'navbar content';
}

.logo {
  font-family: 'Ankh';
  font-size: clamp(2.25rem, 2.5vw, 4rem);
  margin-bottom: 2rem;
}

.navbar {
  font-size: 1.5rem;
  padding: 2rem;
  grid-area: navbar;
}

.nav-list {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 2rem;
}

.nav-item {
  padding: 1rem;
  transition: transform;
}

.nav-item:hover {
  background-color: rgb(255, 255, 255, 0.08);
  transform: background-color 1s ease;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-top: 4rem;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1500px;
}

.content-title {
  font-size: 3.5rem;
}

.flex-column-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.potion-list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 6rem auto;
  grid-template-areas:
    'image title price'
    'image desc qty';
  column-gap: 2rem;
  align-items: start;
  min-height: 200px;
  border-radius: 0.5rem;
  padding-right: 2rem;
}

.list-image {
  height: 100%;
  aspect-ratio: 1 / 1;
  grid-area: image;
  border: solid white 1px;
  border-radius: 0.5rem 0 0 0.5rem;
}

.title {
  font-size: 2rem;
}

.list-title {
  font-size: 2rem;
  grid-area: title;
  margin-top: 2rem;
}

.list-title:hover,
.delete-item:hover {
  text-decoration: underline;
}

.list-desc,
.list-price,
.list-qty {
  font-size: 1.25rem;
}

.list-desc {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  grid-area: desc;
  margin-bottom: 2rem;
}

.desc-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: circle;
  padding-left: 1.5rem;
}

.list-price {
  align-self: center;
  grid-area: price;
  justify-self: end;
}

.list-qty {
  grid-area: qty;
  justify-self: end;
  margin-bottom: 2rem;
}

.classification-list-item,
.effect-list-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}
